.productPage {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    

}

.flex {
    display: flex;
}

.productCardHeart{
    height: 25px;
    width: 25px;
}
.show{
    opacity: 100%;
}
.noshow{
   opacity: 100%;
}
.alignRight{
   width:70%;
}

.productCardList{
    display: grid;
    
    grid-template-columns: repeat(3,1fr);
    grid-gap:25px;
    /* border: 2px solid blue; */
    margin-left: 100px;
}



.productsSidebar{
    display: flex;
    flex-direction: column;
}